DATABASE_URL=
ADMIN_EMAIL=
ADMIN_PASSWORD=
STUDENT_EMAIL=
STUDENT_PASSWORD=
BACKEND_PORT=
FFMPEG_PATH=
FFPROBE_PATH=
FRONTEND_URL=
JWT_EXPIRES_IN=
JWT_SECRET=
MAX_FILE_SIZE_MB=
REFRESH_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
TWO_FACTOR_APP_NAME=
UPLOAD_DESTINATION=